// COLORS
$color-light: #7ed56f;
$color-prime: #55c57a;
$color-dark: #28b485;

$color-black: #000;
$color-grey: #777;
$color-grey-light: #f7f7f7;
$color-white: #fff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 2rem;

// FONT SIZES
$default-font-size: 1.6rem;
